{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
         <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
         <meta charset="UTF-8">
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="table_div">
            <h1>Мониторинг</h1>

            {% load mathfilters %}
            <table class='s_table'>
                <tr><th>Ticker</th><th>Max day</th><th>Max week</th><th>Max month</th><th>Max 3 month</th><th>Price</th></tr>
            {% for stock, stat in stocks%}
            <tr height="0">
                <td>
                    {{stock.ticker}}
                </td>
                <td>
                    {{stock.max_day}}
                </td>
                <td>
                    {{stock.max_week}}
                </td>
                <td>
                    {{stock.max_month}} 
                </td>
                <td id="max_{{stock.ticker}}">
                    {{stock.max}} ({{stat.max_procnt|floatformat:1}}) 
                </td>
                <td>
                    {{stock.price}}
                </td>
            </tr>
            {% endfor %}
            
            {% load render_table from django_tables2 %}
            <div class = "s_table">
                {% render_table table %}
            </div>
        </table>
    </div>
    <script>
        var PROCENT_VALUE = 2;
        (function(){
            var dj_var = "{{stats|escapejs}}";
            var stats = JSON.parse(dj_var);
            
            let collection = document.getElementsByClassName("s_table")[0].children;
            console.log(collection, collection.length, collection[0])
            childs = collection[0].children
            for (index = 0; index < stats.length; ++index) { // идем по строкам таблицы (1-ая стр. название столбца)
                if (Math.abs(stats[index]['max_procnt']) < PROCENT_VALUE){
                    childs.length, childs[index+1].cells[4].style.color = "blue"   
                }
            }     



            
            Array.from(childs).forEach(function(element) { 
                if (element.cells){
                    ans = element.cells[4].childNodes[0]
                    s = ans.nodeValue.indexOf('(')
                    e = ans.nodeValue.indexOf(')')
                    // console.log(ans.nodeValue.slice(s+1,e) )

                    }
            })
            })();
    </script>
    </body>
</html>

