.s_table{
    font-size: 80%; /* Размер текста */ 
    font-weight: lighter; /* Светлое начертание */ 
    color: rgb(0, 0, 0);
    text-align: center;
    width: 20cm;
}


h1 a { 
 font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */ 
 font-size: 80%; /* Размер текста */ 
 font-weight: lighter; /* Светлое начертание */ 
}

.table_div{
    padding-left: 15%;
}

body{

}